<h2>Details</h2>
<p>Enter your video details in the following form, then click next to start uploading your video</p>
<form name="form" novalidate>
  <div class="form-group">
    <label for="videoTitle">Title</label>
    <input type="text" class="form-control" required name="title" ng-model="video.title" id="videoTitle" placeholder="Enter title" >
    <div ng-show="form.title.$error.required">This field is required</div>
  </div>
  <div class="form-group">
    <label for="videoDescription">Description</label>
    <textarea class="form-control" id="videoDescription" ng-model="video.description" name="description" required placeholder="Enter description"></textarea>
    <div ng-show="form.description.$error.required">This field is required</div>
  </div>

  <button ng-click="createVideo()" ng-disabled="form.title.$error.required && form.description.$error.required" class="btn btn-primary">Next</button>
</form>
	
