<div ng-hide="status">
	<h2>Checking system status...</h2>
	<p>This operation might take a few seconds. Please wait...</p>
</div>
<div ng-show="status == 'ok'">
	<h1>All good!</h1>
</div>

<div ng-show="status == 'ko'">
	<h2>There was an error contacting the Video service.</h2>
</div>