    <div class="header">
      <h1>Video upload</h1>
      <p>Drop your video here and let's get started!</p>
    </div>

    <div flow-init="{query:{videoId: video_id}, target: rve_url + '/rve/api/1.0/files', headers: {'X-Auth-Token':api_key, 'X-App-ID' : app_id}, testChunks: false}"
         flow-file-added="fileAdded($file, $event)"
         flow-files-submitted="$flow.upload()"
         flow-file-success="fileUploaded($message, $file)">
      <div class="drop">
        <span class="btn btn-default accept-videos" flow-btn>Upload File</span>
      </div>

      <br/>

      <div class="well" ng-show="files">
        <a class="btn btn-small btn-success" ng-click="$flow.resume()">Resume all</a>
        <a class="btn btn-small btn-danger" ng-click="$flow.pause()">Pause all</a>
        <a class="btn btn-small btn-info" ng-click="$flow.cancel()">Cancel all</a>
        <span class="label label-info">Total Size: {{$flow.getSize()}}bytes</span>
      </div>

      <div>
        <div ng-show="info">{{info}}</div>
        <div ng-repeat="file in $flow.files" class="transfer-box">
          {{file.relativePath}} ({{file.size}}bytes)
          
          <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
            <div class="progress-bar" role="progressbar"
            aria-valuenow="{{file.progress() * 100}}"
            aria-valuemin="0"
            aria-valuemax="100"
            ng-style="{width: (file.progress() * 100) + '%'}">
            <span class="sr-only">{{file.progress()}}% Complete</span>
          </div>
        </div>
        <div class="btn-group">
          <a class="btn btn-xs btn-warning" ng-click="file.pause()" ng-show="!file.paused && file.isUploading()">Pause</a>
          <a class="btn btn-xs btn-warning" ng-click="file.resume()" ng-show="file.paused">Resume
          </a>
          <a class="btn btn-xs btn-danger" ng-click="file.cancel()">
            Cancel
          </a>
          <a class="btn btn-xs btn-info" ng-click="file.retry()" ng-show="file.error">
            Retry
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
